.header{
    background-color: palegreen;
}

  .red {
    background-color: red;
  }

  .testBody{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }

  @media (min-width: 769px) {
      .headerSetting {
        font-size: 1.875rem
      }

      .burgerFont{
       
        color:red;
      }

  }

  @media (max-width:768px){
    .headerSetting {
      font-size :.625rem;
    }

    .burgerFont{
      font-size:1rem;
      color:red;
    }
  }





@media (max-width: 799px) {   /* section1LeftSide */
    .section1LeftSideSmall {
      flex-wrap: nowrap; 
        justify-content: center; 
        align-items: center; 
        width: 66.666667%; 
        height: 50%; 
        font-size: 0.75rem;
         line-height: 1rem; 
    }
      
    .section1RightSideSmall {   /* section2LeftSide */
      display: flex; 
      justify-content: center; 
      align-items: center; 
      width: 33.666667%; 
      height: 70%; 
  }
  
  .smallScreenSection1Container { 
    display: flex; 
    justify-content: space-between; 
    width: 100%; 
    height: 80%; 
    font-size: 2.25rem;
    line-height: 2.5rem; 
}
  
  }
  
  @media (min-width: 800px) {
    .section1LeftSideBig {
      background-color: #1A1A2E!important;
      flex-wrap: nowrap; 
        width: 60%; 
        height: 100%; 
        font-size: 2rem;
        line-height: 1; 
    }
 
    .section1RightSideBig {  /* section2LeftSide */
      display: flex; 
      justify-content: center; 
      align-items: flex-start; 
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem; 
      width: 40%; 
      height: 100%; 
      background-color: #1A1A2E!important;
  }

      /* <article */
    .bigScreenSection1Container {
      display: flex; 
      width: 100%; 
      height: 80%; 
      font-size: 2.25rem;
      line-height: 2.5rem; 
    
  }

  }

  

